<div class="card-proyecto results-fade-in force-light">
  <div class="header-section">
    <div class="icon-box dark-purple">
  <img src="assets/icon/logoana.jpeg" alt="Logo ANA-ASIS" class="logo-img">
</div>
    <div class="title-info">
      <h3 class="force-dark">App ANA-ASIS</h3>
      <p class="force-dark-sub">Reconstrucción y Colaboración Continua</p>
    </div>
  </div>
   <div class="enterprise-badge">
    <ion-icon name="rocket-outline"></ion-icon>
    <span>Aplicación Móvil de consulta médica utilizando Inteligencia Artificial</span>
  </div>
<div class="carousel-container">
  <div class="slider-wrapper" #slider>
    @for (img of imagenes; track $index) {
      <div class="slide" (click)="openImage(img)"> <img [src]="img" alt="Captura">
      </div>
    }
  </div>
</div>
<ion-modal 
  [isOpen]="isModalOpen" 
  (didDismiss)="isModalOpen = false" 
  [backdropDismiss]="true"
  class="image-modal">
  
  <ng-template>
    <ion-content class="modal-zoom-content" (click)="isModalOpen = false">
      
      <div class="close-button">
        <ion-icon name="close-outline"></ion-icon>
      </div>

      <div class="full-image-container">
        <img 
          [src]="selectedImage" 
          class="full-res-image" 
          (click)="$event.stopPropagation()">
      </div>

    </ion-content>
  </ng-template>
</ion-modal>
  <div class="colab-badge">
    <ion-icon name="people-outline"></ion-icon>
    <span>Colaboración Técnica</span>
  </div>

  @if (logros && logros.length > 0) {
    <div class="logros-container">
      <h4>Aportes Clave</h4>
      <ul class="logros-list">
        @for (logro of logros; track $index) {
          <li>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>{{ logro }}</span>
          </li>
        }
      </ul>
    </div>
  }
<div class="logros-container">
      <h4>Tecnologías Utilizadas </h4>
      <ul class="logros-list">
  <div class="tech-tags">
    <ion-chip outline="true">Ionic</ion-chip>
    <ion-chip outline="true">Angular</ion-chip>
    <ion-chip outline="true">API REST</ion-chip>
    <ion-chip outline="true">Refactoring</ion-chip>
    <ion-chip outline="true">IA</ion-chip>
    <ion-chip outline="true">Android</ion-chip>
    <ion-chip outline="true">Health Connect</ion-chip>
  </div>
  </ul>
  </div>
</div>