<div class="card-proyecto results-fade-in force-light">
  <div class="header-section">
    <div class="icon-box  dark-purple">
      <ion-icon name="school-outline"></ion-icon>
    </div>
    <div class="title-info">
      <h3 class="force-dark">Sistema de Tutorías UTVCO</h3>
      <p class="force-dark-sub">Grupales o Generales, Culturales y Deportivas</p>
    </div>
  </div>
 <div class="enterprise-badge">
    <ion-icon name="rocket-outline"></ion-icon>
    <span>Software de Gestión y Automatización Escolar</span>
  </div>
<div class="carousel-container">
  <div class="slider-wrapper" #slider>
    @for (img of imagenes; track $index) {
      <div class="slide" (click)="openImage(img)"> <img [src]="img" alt="Captura">
      </div>
    }
  </div>
</div>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false" class="image-modal">
  <ng-template>
    <ion-content class="modal-zoom-content">
      <div class="close-button" (click)="isModalOpen = false">
        <ion-icon name="close-outline"></ion-icon>
      </div>
      <div class="full-image-container">
        <img [src]="selectedImage" class="full-res-image">
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

  @if (logros && logros.length > 0) {
    <div class="logros-container">
      <h4>Impacto y Logros </h4>
      <ul class="logros-list">
        @for (logro of logros; track $index) {
          <li>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>{{ logro }}</span>
          </li>
        }
      </ul>
    </div>
  }
<div class="logros-container">
      <h4>Tecnologías Utilizadas </h4>
      <ul class="logros-list">
  <div class="tech-tags">
    <ion-chip outline="true">Angular</ion-chip>
    <ion-chip outline="true">Ionic</ion-chip>
    <ion-chip outline="true">Laravel</ion-chip>
    <ion-chip outline="true">MySQL</ion-chip>
    <ion-chip outline="true">Windows Server</ion-chip>
  </div>
  </ul>
</div>
</div>