/*main-header {
background: linear-gradient(135deg, #2c3e50 0%, #4ca1af 100%);
  padding: 40px 20px 80px 20px; // Padding ajustado
  color: white;
}*/
.main-header {
  /* Un degradado oscuro con un toque de color eléctrico */
  background: linear-gradient(135deg, #0f0c29 0%, #783296 50%, #24243e 100%);
  padding: 40px 20px 80px 20px; // Padding ajustado
  color: white;
 

  // Agregamos un brillo sutil que lo hace ver único
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(104, 109, 224, 0.15) 0%, transparent 50%);
    animation: rotate 10s linear infinite;
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.white-container {
  background: #f4f6fa;
  margin-top: -40px; // Sube un poco menos para dejar ver bien el perfil
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  min-height: 60vh;
  padding: 20px;
    overflow-x: hidden; // 📍 Evita que cualquier componente "empuje" hacia los lados

}

.label-section {
  font-size: 1rem;
  font-weight: 700;
  color: #783296; // El azul de Gugar para el título de la sección
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0;
}
ion-content {
  --overflow: auto; // Fuerza un scroll más controlado
}
.white-container {
  padding: 10px; // Espacio mínimo en móvil
  background: transparent; // Deja que el bg-light del content luzca

  @media (min-width: 768px) {
    padding: 30px 50px; // Más espacio en tablets y PC
  }

  .label-section {
    font-size: clamp(1.5rem, 5vw, 2.2rem);
    font-weight: 800;
    margin-bottom: 30px;
    padding-left: 15px;
    color: #1e1e2d;
    border-left: 6px solid #5849be; // Un detalle elegante al título
  }
}

/* 📍 Ajuste para que las tarjetas tengan la misma altura */
ion-col {
  display: flex;
  flex-direction: column;
}

app-proyecto-utvco, 
app-proyecto-anaasis, 
app-proyecto-gugar {
  flex: 1; // Obliga a los componentes a estirarse uniformemente
}